* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #f3f6fd;
}

.app {
  display: flex;
}

.panel {
  background-color: #fbfaff;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.menu__item {
  box-shadow: 0 8px 14px 0 rgba(62, 107, 224, 0.12);
  background: #fff;
  border-radius: 14px;
  width: 45px;
  height: 45px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu__item:hover {
  background: #6a6afb;
}

.menu__item:hover img {
  filter: brightness(0) invert(1);
}

.menu__item_active {
  background: #5051f9;
}

.menu__item_active img {
  filter: brightness(0) invert(1);
}

.menu__add {
  border: 1px solid #cad5ff;
  border-radius: 14px;
  width: 46px;
  height: 45px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu__add:hover {
  background-color: #f1f4ff;
}
